name: go
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.14'
    - uses: actions/setup-go@v5
      with:
        go-version: '1.24'
    - uses: sqlc-dev/setup-sqlc@v4
      with:
        sqlc-version: '1.30.0'
    - run: make
    - run: make test
    - run: sqlc diff
      working-directory: examples
